/* Estilos para el contenedor principal */
.App {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-image: url('../src/images/Piedra\ Papel\ Tijera.png');
    background-position: center;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;    
  }

  h1  {
    color: rgb(30, 23, 158);
    text-shadow: 40px;
  }
  
  /* Estilos para el texto del nombre del jugador */
  input[type="text"] {
    font-size: 18px; 
    padding: 10px;
    margin: 10px;
    font-style: italic;
  }

h3 {
  color: darkgreen;
  font-style: italic;
  font-weight: 1000;
}

  
